/*
 * License: The Unlicense.
 */

body {
    background-image: url("images/background-3.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

h1 {
    font-size: 40px
}

h2 {
    font-size: 25px
}

#paragraph {
    font-size: 20px;
    padding-left: 300px;
    padding-right: 300px;
}

#champ-image{
    border: 5px solid lightgray;
}

#signatures {
    font-size: 25px;
}

#claim-clause {
    font-size: 10px;
}

#signature-1 {
    font-size: 30px !important;
    font: 400 100px/1.3 'Arizonia', Helvetica, sans-serif;
}

#signature-2 {
    font-size: 30px !important;
    font: 400 100px/1.3 'Arizonia', Helvetica, sans-serif;
}