/*
 * License: The Unlicense.
 */

body {
    background-image: url("images/background-3.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    font-size: 40px
}

h2 {
    font-size: 25px
}

#paragraph {
    font-size: 20px;
    padding-left: 300px;
    padding-right: 300px;
}

#champ-image{
    border: 5px solid lightgray;
}

#signatures {
    font-size: 25px;
}

#claim-clause {
    font-size: 10px;
}